<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/css/bemytvfeed.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar navbar-static-top"><!-- navbar-inverse -->
      <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">{{ title }}</a>
        <div class="nav-collapse">
          <ul class="nav">
            {% block navmenuitems %}
            {% endblock %}
          </ul>
        </div>
      </div>
      </div>
    </div>

    <div id="maincontainer" class="container">
      <section id="content">
        {% block content %}
        {% endblock %}
      </section>
    </div>
    
    {% block js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bemytvfeed.js"></script>
    {% endblock %}
  </body>
</html>
